body{
    margin: 0;
    /* overflow: hidden; */
    background-color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.vega-bindings:hover{
    cursor: pointer;
    fill: grey;
}

form.vega-bindings{
  position: absolute;
  right: 200px;
  top: 710px;
  
}

/*  set the backgrounds to all the visualizations to this almost black color,
    we only want the color to be one the matrix */



