body{
    margin: 0;
    /* overflow: hidden; */
    background-color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 30px;
}



.vega-bindings:hover{
    cursor: pointer;
    fill: grey;
   
    
}

.vega-bindings{
    padding-left: 800px;
    padding-bottom: -300px;
}
